{% extends 'base.html.twig' %}

{% block title %}Fictif 2024 - Panier{% endblock %}

{% block body %}
<div class="d-flex justify-content-center align-item-center pt-3">
    <h1>Votre panier {% if app.user %}{{ app.user.firstname }} {% endif %} !</h1>
</div>
<div class="container">
    <hr class="my-4">
</div>
<section id="cart-tickets">
    {% if tickets is empty %}
    <div class="d-flex justify-content-center align-item-center pt-3">
        <h2>Le panier est vide...</h2>
    </div>
    {% endif %}
    {% if tickets is not empty %}
    {% for ticket in tickets %}
    <div class="container d-flex mt-4">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-lg-6">
                    <img src="{{ asset('uploads/' ~ ticket.event.picture) }}" class="img-fluid rounded" alt="Event">
                </div>
                <div class="col-lg-6 container d-flex align-items-center justify-content-center">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ ticket.event.name }} - {{ ticket.offer.name }}</h5>
                        <div class="row">
                            <div class="d-flex">
                                <div class="col">
                                    <p class="card-text">
                                        <span>{{ ticket.event.date|date("d-m-Y") }}</span><br>
                                        <span>{{ ticket.event.place }}</span><br>
                                        <span> {{ ticket.event.startTime|date("H:i") }} -
                                            {{ ticket.event.endTime|date("H:i") }} </span><br>
                                        <span>{{ ticket.offer.nbPeople }} place</span><br>
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <p class="card-text">
                                            <a href="{{ path('ticket_delete', {id: ticket.id}) }}"
                                                class="btn btn-outline-primary">Supprimer</a>
                                        </p>
                                        <p class="card-text fs-3">{{ ticket.price }} €</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</section>
<div class="container">
    <hr class="my-4">
</div>
<section id="cart-total">
    <div class="container d-flex justify-content-between">
        <h2>Total</h2>
        <h2>{{ totalPrice }} €</h2>
    </div>
    {% if tickets is not empty %}
    <div class="container d-flex justify-content-end my-4">
        <a href="{{ path('order') }}" class="btn btn-outline-primary fs-5">Valider & payer</a>
    </div>
    {% endif %}
</section>
{% endblock %}