{% extends 'base.html.twig' %}

{% block title %}Fictif 2024 - Accueil{% endblock %}

{% block body %}
<section id="home">
    <div class="container text-white">
        <h1 class="pt-2 text-center img-txt">
            Bienvenue sur le site des Jeux Olympiques Fictif 2024 !
        </h1>
        <br>
        <p class="text-center img-txt fs-3">Là où l'excellence sportive rencontre l'innovation durable !</p>
        <p class="text-center img-txt fs-3">Vivez l’émotion, partagez la passion !</p>
    </div>
</section>
<section>
    <div class="container pt-2">
        <p class="text-center">
            Les Jeux Olympiques de Fictif 2024 marqueront la 33ᵉ édition des Jeux d'été. Paris accueille cet événement
            mondial pour la troisième fois, après les éditions de 1900 et 1924, ce qui en fait une ville historique des
            Jeux. Les compétitions rassembleront plus de 10 500 athlètes venant de 206 pays, qui s'affronteront dans 32
            sports et 48 disciplines.
        </p>
        <p class="text-center">
            L'esprit de ces Jeux met l'accent sur la durabilité, l'inclusivité et l'innovation. De nombreux sites
            emblématiques de Paris et de ses environs seront utilisés pour accueillir les épreuves, comme le Stade de
            France pour l'athlétisme, Roland-Garros pour le tennis, et même la Tour Eiffel, qui servira de toile de fond
            à plusieurs événements sportifs.
        </p>
        <p class="text-center">
            Les JO de Fictif 2024 seront également les premiers à intégrer pleinement des mesures visant à réduire leur
            empreinte carbone, en s'appuyant sur des infrastructures déjà existantes et en utilisant des énergies
            renouvelables.
        </p>
        <p class="text-center">
            En outre, Fictif 2024 met un fort accent sur l'accessibilité, avec une participation importante aux Jeux
            Paralympiques. Cela permettra de promouvoir l'inclusion des athlètes handicapés dans le monde entier.
        </p>
        <p class="text-center">
            Ces Jeux s'annoncent comme un moment marquant de célébration sportive mondiale, tout en reflétant les
            valeurs de diversité, de durabilité, et d'unité.
        </p>
    </div>
</section>
<section id="event">
    <div class="d-flex justify-content-center align-item-center pt-3">
        <h2>Les épreuves</h2>
    </div>
    <div class="container py-3">
        <div id="carouselCaptions" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                {% if events is not empty %}
                {% for event in events %}
                <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="{{ loop.index + 1}}"
                    aria-label="Slide {{ loop.index + 2}}"></button>
                {% endfor %}
                {% endif %}
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ asset('assets/img/accueil1.jpg') }}" class="d-block w-100" alt="accueil épreuves">
                    <div class="carousel-caption d-block">
                        <h5 class="img-txt">Faites défiler pour découvrir les épreuves...</h5>
                    </div>
                </div>
                {% if events is not empty %}
                {% for event in events %}
                <div class="carousel-item">
                    <img src="{{ 'uploads/' ~ event.picture}}" class="d-block w-100" alt="{{ event.name }}">
                    <div class="carousel-caption d-block">
                        <h5 class="img-txt">{{ event.name }}</h5>
                        <p class="img-txt">{{ event.date|date("d-m-Y") }} - {{ event.place }}</p>
                        <a href="{{ path('event.show', {id: event.id}) }}" class="btn btn-dark">Billetterie</a>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>
{% endblock %}