{% extends 'base.html.twig' %}

{% block title %}Fictif 2024 - Inscription{% endblock %}

{% block body %}
{% for flash_error in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}

<h1 class="mt-2 d-flex justify-content-center">Inscription</h1>
<div class="container d-flex align-items-center justify-content-center text-center mt-4" id="signUp">
    <div id="signUpForm">
        {{ form_errors(form) }}

        {{ form(form) }}

        <div class="row d-flex align-items-center">
            <hr class="col-5 my-4">
            <p class="col-2 my-4">OU</p>
            <hr class="col-5 my-4">
        </div>
        <div>
            <a href="{{ path('connect', {service: 'google'}) }}" class="btn btn-lg btn-block btn-primary"
                style="background-color: #dd4b39;" type="submit">
                <i class="fab fa-google me-2"></i> Inscription avec Google
            </a>
        </div>
        <div class="my-4">
            <span>Déjà inscrit ?</span><br>
            <a href="{{ path('login') }}">Connexion</a>
        </div>
    </div>
</div>
{% endblock %}