{% extends 'base.html.twig' %}

{% block title %}Fictif 2024 - {{ app.user.firstname }}{% endblock %}

{% block body %}
<div class="d-flex justify-content-center align-item-center pt-3">
    <h1>Bonjour {% if 'ROLE_ADMIN' in app.user.roles %} Administrateur {% endif %} {{ app.user.firstname }} !</h1>
</div>
{% for message in (app.flashes('success')) %}
<div class="d-flex justify-content-center align-item-center alert alert-dismissible alert-success mt-3">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    {{ message }}
</div>
{% endfor %}
{% if 'ROLE_ADMIN' and 'ROLE_EMPLOYEE' not in app.user.roles %}
<section id="space-tickets">
    <div class="d-flex justify-content-center align-item-center pt-3">
        <h2>Vos billets</h2>
    </div>
    {% if tickets is not empty %}
    {% for ticket in tickets %}
    <div class="container d-flex mt-4">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-lg-6">
                    <img src="{{ asset('uploads/' ~ ticket.event.picture) }}" class="img-fluid rounded" alt="Event">
                </div>
                <div class="col-lg-6 container d-flex align-items-center justify-content-center">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ ticket.event.name }} - {{ ticket.offer.name }}</h5>
                        <div class="row">
                            <div class="d-flex">
                                <div class="col">
                                    <p class="card-text">
                                        <span><b>{{ ticket.order.user.firstname }} {{
                                                ticket.order.user.lastname}}</b></span><br>
                                        <span>{{ ticket.event.date|date("d-m-Y") }}</span><br>
                                        <span>{{ ticket.event.place }}</span><br>
                                        <span> {{ ticket.event.startTime|date("H:i") }} -
                                            {{ ticket.event.endTime|date("H:i") }} </span><br>
                                        <span>{{ ticket.offer.nbPeople }} place</span><br>

                                    </p>
                                    {# <p class="card-text">
                                        <a href="{{ path('pdf', {id:ticket.id}) }}"
                                            class="btn btn-outline-primary">Télécharger</a>
                                    </p> #}
                                </div>
                                <div class="col-3">
                                    <img src="{{ asset('assets/qrcode/' ~ ticket.qrcode) }}" class="img-fluid" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="container d-flex mt-4">
        Vous n'avez aucun ticket...
    </div>
    {% endif %}
</section>
{% endif %}
<div class="d-flex justify-content-center align-item-center pt-3">
    <h2>Modification du mot de passe</h2>
</div>
<section>
    <div class="container d-flex text-center my-4" id="passwordChange">
        <div id="passwordChangeForm">
            {{ form_errors(form) }}
            {{form(form)}}
        </div>
    </div>
</section>
{% endblock %}